/*! Buefy v0.7.7 | MIT License | github.com/buefy/buefy */


/*! bulma.io v0.7.5 | MIT License | github.com/jgthms/bulma */

.button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.title:not(:last-child) {
    margin-bottom: 1.5rem
}

.button,
.input {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.375em - 1px);
    padding-left: calc(.625em - 1px);
    padding-right: calc(.625em - 1px);
    padding-top: calc(.375em - 1px);
    position: relative;
    vertical-align: top
}

.button:active,
.button:focus,
.input:active,
.input:focus {
    outline: none
}

.button[disabled] {
    cursor: not-allowed
}


/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */

body,
h2,
h3,
hr,
html,
p {
    margin: 0;
    padding: 0
}

h2,
h3 {
    font-size: 100%;
    font-weight: 400
}

button,
input {
    margin: 0
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

img {
    height: auto;
    max-width: 100%
}

html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body,
button,
input {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif
}

body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5
}

a {
    color: #7957d5;
    cursor: pointer;
    text-decoration: none
}

a:hover {
    color: #363636
}

hr {
    background-color: #f5f5f5
}

hr {
    border: none;
    display: block;
    height: 2px;
    margin: 1.5rem 0
}

img {
    height: auto;
    max-width: 100%
}

input[type=checkbox],
input[type=radio] {
    vertical-align: baseline
}

span {
    font-style: inherit;
    font-weight: inherit
}

.is-clearfix:after {
    clear: both;
    content: " ";
    display: table
}

.has-text-danger {
    color: #ff3860!important
}

.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: calc(.375em - 1px);
    padding-left: .75em;
    padding-right: .75em;
    padding-top: calc(.375em - 1px);
    text-align: center;
    white-space: nowrap
}

.button .icon {
    height: 1.5em;
    width: 1.5em
}

.button .icon:first-child:not(:last-child) {
    margin-left: calc(-.375em - 1px);
    margin-right: .1875em
}

.button:hover {
    border-color: #b5b5b5;
    color: #363636
}

.button:focus {
    border-color: #7957d5;
    color: #363636
}

.button.is-focused:not(:active),
.button:focus:not(:active) {
    -webkit-box-shadow: 0 0 0 .125em rgba(121, 87, 213, .25);
    box-shadow: 0 0 0 .125em rgba(121, 87, 213, .25)
}

.button:active {
    border-color: #4a4a4a;
    color: #363636
}

.button.is-white.is-focused:not(:active),
.button.is-white:focus:not(:active) {
    -webkit-box-shadow: 0 0 0 .125em hsla(0, 0%, 100%, .25);
    box-shadow: 0 0 0 .125em hsla(0, 0%, 100%, .25)
}

.button.is-black.is-focused:not(:active),
.button.is-black:focus:not(:active) {
    -webkit-box-shadow: 0 0 0 .125em rgba(10, 10, 10, .25);
    box-shadow: 0 0 0 .125em rgba(10, 10, 10, .25)
}

.button.is-light.is-focused:not(:active),
.button.is-light:focus:not(:active) {
    -webkit-box-shadow: 0 0 0 .125em hsla(0, 0%, 96.1%, .25);
    box-shadow: 0 0 0 .125em hsla(0, 0%, 96.1%, .25)
}

.button.is-dark.is-focused:not(:active),
.button.is-dark:focus:not(:active) {
    -webkit-box-shadow: 0 0 0 .125em rgba(54, 54, 54, .25);
    box-shadow: 0 0 0 .125em rgba(54, 54, 54, .25)
}

.button.is-primary.is-focused:not(:active),
.button.is-primary:focus:not(:active) {
    -webkit-box-shadow: 0 0 0 .125em rgba(121, 87, 213, .25);
    box-shadow: 0 0 0 .125em rgba(121, 87, 213, .25)
}

.button.is-link {
    background-color: #7957d5;
    border-color: transparent;
    color: #fff
}

.button.is-link:hover {
    background-color: #714dd2;
    border-color: transparent;
    color: #fff
}

.button.is-link:focus {
    border-color: transparent;
    color: #fff
}

.button.is-link.is-focused:not(:active),
.button.is-link:focus:not(:active) {
    -webkit-box-shadow: 0 0 0 .125em rgba(121, 87, 213, .25);
    box-shadow: 0 0 0 .125em rgba(121, 87, 213, .25)
}

.button.is-link:active {
    background-color: #6943d0;
    border-color: transparent;
    color: #fff
}

.button.is-link[disabled] {
    background-color: #7957d5;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.button.is-info.is-focused:not(:active),
.button.is-info:focus:not(:active) {
    -webkit-box-shadow: 0 0 0 .125em rgba(22, 125, 240, .25);
    box-shadow: 0 0 0 .125em rgba(22, 125, 240, .25)
}

.button.is-success.is-focused:not(:active),
.button.is-success:focus:not(:active) {
    -webkit-box-shadow: 0 0 0 .125em rgba(35, 209, 96, .25);
    box-shadow: 0 0 0 .125em rgba(35, 209, 96, .25)
}

.button.is-warning.is-focused:not(:active),
.button.is-warning:focus:not(:active) {
    -webkit-box-shadow: 0 0 0 .125em rgba(255, 221, 87, .25);
    box-shadow: 0 0 0 .125em rgba(255, 221, 87, .25)
}

.button.is-danger.is-focused:not(:active),
.button.is-danger:focus:not(:active) {
    -webkit-box-shadow: 0 0 0 .125em rgba(255, 56, 96, .25);
    box-shadow: 0 0 0 .125em rgba(255, 56, 96, .25)
}

.button.is-medium {
    font-size: 1.25rem
}

.button[disabled] {
    background-color: #fff;
    border-color: #dbdbdb;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .5
}

.icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem
}

.icon.is-medium {
    height: 2rem;
    width: 2rem
}

.title {
    word-break: break-word
}

.title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125
}

.input {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636
}

.input::-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input::-webkit-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-moz-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:-ms-input-placeholder {
    color: rgba(54, 54, 54, .3)
}

.input:hover {
    border-color: #b5b5b5
}

.input:active,
.input:focus {
    border-color: #7957d5;
    -webkit-box-shadow: 0 0 0 .125em rgba(121, 87, 213, .25);
    box-shadow: 0 0 0 .125em rgba(121, 87, 213, .25)
}

.input {
    -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
    max-width: 100%;
    width: 100%
}

.is-danger.input {
    border-color: #ff3860
}

.is-danger.input:active,
.is-danger.input:focus {
    -webkit-box-shadow: 0 0 0 .125em rgba(255, 56, 96, .25);
    box-shadow: 0 0 0 .125em rgba(255, 56, 96, .25)
}

.is-large.input {
    font-size: 1.5rem
}

.checkbox,
.radio {
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    position: relative
}

.checkbox input,
.radio input {
    cursor: pointer
}

.checkbox:hover,
.radio:hover {
    color: #363636
}

.select.is-white:not(:hover):after {
    border-color: #fff
}

.select.is-black:not(:hover):after {
    border-color: #0a0a0a
}

.select.is-light:not(:hover):after {
    border-color: #f5f5f5
}

.select.is-dark:not(:hover):after {
    border-color: #363636
}

.select.is-primary:not(:hover):after {
    border-color: #7957d5
}

.select.is-link:not(:hover):after {
    border-color: #7957d5
}

.select.is-info:not(:hover):after {
    border-color: #167df0
}

.select.is-success:not(:hover):after {
    border-color: #23d160
}

.select.is-warning:not(:hover):after {
    border-color: #ffdd57
}

.select.is-danger:not(:hover):after {
    border-color: #ff3860
}

.label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700
}

.label:not(:last-child) {
    margin-bottom: .5em
}

.help {
    display: block;
    font-size: .75rem;
    margin-top: .25rem
}

.help.is-danger {
    color: #ff3860
}

.field:not(:last-child) {
    margin-bottom: .75rem
}

.control {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: left
}

.control.has-icons-left .input:focus~.icon,
.control.has-icons-right .input:focus~.icon {
    color: #7a7a7a
}

.control.has-icons-left .input.is-large~.icon,
.control.has-icons-right .input.is-large~.icon {
    font-size: 1.5rem
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
    color: #dbdbdb;
    height: 2.25em;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 2.25em;
    z-index: 4
}

.control.has-icons-left .input {
    padding-left: 2.25em
}

.control.has-icons-left .icon.is-left {
    left: 0
}

.control.has-icons-right .input {
    padding-right: 2.25em
}

.control.has-icons-right .icon.is-right {
    right: 0
}

@media screen and (max-width:768px) {
    .level-item:not(: last-child) {
        margin-bottom: .75rem
    }
}

@media print,
screen and (min-width:769px) {
    .level-left .level-item:not(: last-child), .level-right .level-item:not(: last-child) {
        margin-right: .75rem
    }
}

@media screen and (min-width:1024px) {
    .navbar-link.is-active:not(:focus):not(:hover),
    a.navbar-item.is-active:not(:focus):not(:hover) {
        background-color: transparent
    }
}

.hero.is-white a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current) {
    color: inherit
}

.hero.is-black a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current) {
    color: inherit
}

.hero.is-light a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current) {
    color: inherit
}

.hero.is-dark a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current) {
    color: inherit
}

.hero.is-primary a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current) {
    color: inherit
}

.hero.is-link a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current) {
    color: inherit
}

.hero.is-info a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current) {
    color: inherit
}

.hero.is-success a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current) {
    color: inherit
}

.hero.is-warning a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current) {
    color: inherit
}

.hero.is-danger a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current) {
    color: inherit
}

.b-checkbox.checkbox {
    outline: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.b-checkbox.checkbox input[type=checkbox] {
    position: absolute;
    left: 0;
    opacity: 0;
    outline: none;
    z-index: -1
}

.b-checkbox.checkbox input[type=checkbox]+.check {
    width: 1.25em;
    height: 1.25em;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 4px;
    border: 2px solid #7a7a7a;
    -webkit-transition: background .15s ease-out;
    transition: background .15s ease-out
}

.b-checkbox.checkbox input[type=checkbox]:checked+.check {
    background: #7957d5 url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath d='M.04.627L.146.52.43.804.323.91zm.177.177L.854.167.96.273.323.91z' fill='%23fff'/%3E%3C/svg%3E") no-repeat 50%;
    border-color: #7957d5
}

.b-checkbox.checkbox input[type=checkbox]:indeterminate+.check {
    background: #7957d5 url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath fill='%23fff' d='M.15.4h.7v.2h-.7z'/%3E%3C/svg%3E") no-repeat 50%;
    border-color: #7957d5
}

.b-checkbox.checkbox input[type=checkbox]:focus+.check {
    -webkit-box-shadow: 0 0 .5em hsla(0, 0%, 47.8%, .8);
    box-shadow: 0 0 .5em hsla(0, 0%, 47.8%, .8)
}

.b-checkbox.checkbox input[type=checkbox]:focus:checked+.check {
    -webkit-box-shadow: 0 0 .5em rgba(121, 87, 213, .8);
    box-shadow: 0 0 .5em rgba(121, 87, 213, .8)
}

.b-checkbox.checkbox .control-label {
    padding-left: .5em
}

.b-checkbox.checkbox:hover input[type=checkbox]+.check {
    border-color: #7957d5
}

.label {
    font-weight: 600
}

.icon {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: inherit
}

.icon svg {
    background-color: transparent;
    fill: currentColor;
    stroke-width: 0;
    stroke: currentColor;
    pointer-events: none;
    width: 1.5rem;
    height: 1.5rem
}

.b-radio.radio {
    outline: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.b-radio.radio input[type=radio] {
    position: absolute;
    left: 0;
    opacity: 0;
    outline: none;
    z-index: -1
}

.b-radio.radio input[type=radio]+.check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    width: 1.25em;
    height: 1.25em;
    -webkit-transition: background .15s ease-out;
    transition: background .15s ease-out;
    border-radius: 50%;
    border: 2px solid #7a7a7a
}

.b-radio.radio input[type=radio]+.check:before {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50%;
    margin-left: -.625em;
    bottom: 50%;
    margin-bottom: -.625em;
    width: 1.25em;
    height: 1.25em;
    -webkit-transition: -webkit-transform .15s ease-out;
    transition: -webkit-transform .15s ease-out;
    transition: transform .15s ease-out;
    transition: transform .15s ease-out, -webkit-transform .15s ease-out;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: #7957d5
}

.b-radio.radio input[type=radio]:checked+.check {
    border-color: #7957d5
}

.b-radio.radio input[type=radio]:checked+.check:before {
    -webkit-transform: scale(.5);
    transform: scale(.5)
}

.b-radio.radio .control-label {
    padding-left: .5em
}

.b-radio.radio:hover input[type=radio]+.check {
    border-color: #7957d5
}

.b-radio.radio:focus input[type=radio]+.check {
    -webkit-box-shadow: 0 0 .5em hsla(0, 0%, 47.8%, .8);
    box-shadow: 0 0 .5em hsla(0, 0%, 47.8%, .8)
}

.b-radio.radio:focus input[type=radio]:checked+.check {
    -webkit-box-shadow: 0 0 .5em rgba(121, 87, 213, .8);
    box-shadow: 0 0 .5em rgba(121, 87, 213, .8)
}

.icon .mdi-18px,
.mdi-18px {
    width: 18px;
    height: 18px
}

.icon .mdi-24px,
.mdi-24px {
    width: 24px;
    height: 24px
}

.icon .mdi-36px,
.mdi-36px {
    width: 36px;
    height: 36px
}

@font-face {
    font-family: Gilroy;
    src: url(../static/fonts/Gilroy/Gilroy-Regular.woff2) format("woff2"), url(../static/fonts/Gilroy/Gilroy-Regular.woff) format("woff"), url(../static/fonts/Gilroy/Gilroy-Regular.ttf) format("ttf"), url(../static/fonts/Gilroy/Gilroy-Regular.eot) format("eot");
    font-weight: 400
}

@font-face {
    font-family: Gilroy;
    src: url(../static/fonts/Gilroy/Gilroy-Medium.woff2) format("woff2"), url(../static/fonts/Gilroy/Gilroy-Medium.woff) format("woff"), url(../static/fonts/Gilroy/Gilroy-Medium.ttf) format("ttf"), url(../static/fonts/Gilroy/Gilroy-Medium.eot) format("eot");
    font-weight: 500
}

@font-face {
    font-family: Gilroy;
    src: url(../static/fonts/Gilroy/Gilroy-SemiBold.woff2) format("woff2"), url(../static/fonts/Gilroy/Gilroy-SemiBold.woff) format("woff"), url(../static/fonts/Gilroy/Gilroy-SemiBold.ttf) format("ttf"), url(../static/fonts/Gilroy/Gilroy-SemiBold.eot) format("eot");
    font-weight: 600
}

body,
html {
    background: #fff;
    overflow-y: auto
}

a,
label {
    -webkit-tap-highlight-color: transparent
}

.icon {
    width: 1.2rem;
    height: 1.2rem
}

.icon svg {
    width: 24px;
    height: 24px
}

#app {
    font-family: Gilroy, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    height: 100vh;
    --color-danger: #d10a34
}

#app input {
    border-radius: 4px;
    border: 1.2px solid #c0c4c3
}

#app input.is-danger {
    color: var(--color-danger);
    border-color: var(--color-danger)
}

#app .has-text-danger {
    color: var(--color-danger)!important
}

#app .help.is-danger {
    color: var(--color-danger)
}

#app .input {
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 2.65em
}

.button {
    font-size: 18px!important;
    padding: 12px 30px;
    min-height: 43px;
    height: auto;
    border-radius: 24px;
    border: none;
    line-height: 1.3rem
}

.button .icon {
    margin-right: 5px
}

.button .icon svg {
    width: 18px;
    height: 18px
}

.button_color_theme {
    color: var(--color-text);
    background-color: var(--color)!important;
    -webkit-box-shadow: 0 3px 10px 0 var(--color-alpha);
    box-shadow: 0 3px 10px 0 var(--color-alpha);
    will-change: box-shadow;
    -webkit-transition: -webkit-box-shadow .2s ease-in;
    transition: -webkit-box-shadow .2s ease-in;
    transition: box-shadow .2s ease-in;
    transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in
}

.button_color_theme:focus,
.button_color_theme:hover {
    color: var(--color-text);
    background-color: var(--color)!important;
    -webkit-box-shadow: 0 3px 15px 0 var(--color-alpha)!important;
    box-shadow: 0 3px 15px 0 var(--color-alpha)!important
}

.button_color_theme:focus {
    -webkit-box-shadow: 0 2px 8px 0 var(--color-alpha)!important;
    box-shadow: 0 2px 8px 0 var(--color-alpha)!important
}

a,
a:focus,
a:visited {
    color: var(--color);
    text-decoration: none
}

a:focus,
a:hover {
    text-decoration: underline
}

.title {
    font-weight: 300
}

.b-radio.radio {
    line-height: 1.5;
    z-index: 10
}

.b-radio.radio input[type=radio]+.check {
    border: none;
    background-color: #e8e8e8
}

.b-radio.radio input[type=radio]:checked+.check {
    -webkit-box-shadow: 0 2px 6px 0 var(--color-alpha)!important;
    box-shadow: 0 2px 6px 0 var(--color-alpha)!important;
    border: 2px solid var(--color);
    background: #fff
}

.b-radio.radio input[type=radio]:checked+.check:before {
    background: var(--color);
    background-size: 21px
}

.b-radio.radio:focus input[type=radio]+.check {
    -webkit-box-shadow: none;
    box-shadow: none
}

.b-checkbox.checkbox {
    line-height: 1.5;
    z-index: 10
}

.b-checkbox.checkbox input[type=checkbox]+.check {
    border: none;
    background-color: #e8e8e8
}

.b-checkbox.checkbox input[type=checkbox]:checked+.check {
    background-color: var(--color);
    background-size: .9rem;
    -webkit-box-shadow: none;
    box-shadow: none
}

.b-checkbox.checkbox input[type=checkbox]:focus:checked+.check {
    -webkit-box-shadow: none;
    box-shadow: none
}

p {
    margin-bottom: .5rem
}

p:last-child {
    margin-bottom: 0
}

.assistant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: .9rem;
    width: 100%;
    padding: 23px 26px;
    margin-bottom: 12px
}

.assistant.has-text {
    height: 100%
}

.assistant__person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.assistant__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: left;
    margin-left: .5rem
}

.assistant__avatar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 78px;
    flex: 0 0 78px;
    text-align: left;
    position: relative
}

.assistant__avatar img {
    width: 70px;
    height: 70px;
    border-radius: 35px
}

.assistant__avatar-badge {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    display: block;
    border: 2px solid #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    background-color: #1bb157;
    width: 12px;
    height: 12px;
    top: 54px;
    left: 54px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16)
}

.assistant__block {
    position: relative;
    padding-top: calc(.6rem - 1px);
    margin-right: -5px;
    color: #69748c;
    line-height: 1.2;
    text-align: left;
    height: calc(100% - 80px);
    max-height: 380px
}

.assistant__text {
    background: #fff;
    padding: 5px 10px;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .05);
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    max-height: 100%;
    color: #2e2e49;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.54
}

.assistant__text::-webkit-scrollbar {
    width: 10px
}

.assistant__text::-webkit-scrollbar-track {
    border-left: 8px solid transparent;
    -webkit-box-shadow: inset 0 0 10px 10px #eae9f1;
    box-shadow: inset 0 0 10px 10px #eae9f1
}

.assistant__text::-webkit-scrollbar-thumb {
    border-left: 8px solid transparent;
    -webkit-box-shadow: inset 0 0 10px 10px var(--color);
    box-shadow: inset 0 0 10px 10px var(--color);
    -webkit-box-shadow: inset 0 0 10px 10px #707070;
    box-shadow: inset 0 0 10px 10px #707070
}

.assistant__text-arrow {
    top: calc(-.6rem + -1px);
    left: 24px;
    display: block;
    position: absolute;
    width: .6rem
}

.assistant__text-arrow:after,
.assistant__text-arrow:before {
    position: absolute;
    display: block;
    content: "";
    border-style: solid;
    border-color: transparent;
    border-width: .6rem .6rem .6rem
}

.assistant__text-arrow:before {
    border-bottom-color: rgba(0, 0, 0, .02)
}

.assistant__text-arrow:after {
    border-bottom-color: #fff;
    top: 1px
}

.assistant__title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #2e2e54;
    line-height: 1.125
}

.assistant__subtitle {
    font-size: 12px;
    color: #69748c;
    font-weight: 400;
    line-height: 1.15;
    margin: 0
}

.assistant-mobile {
    display: grid;
    grid-gap: 12px;
    overflow: hidden;
    font-size: .9rem;
    width: 100%;
    grid-template-rows: auto 1fr;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 0
}

.assistant-mobile__person {
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    display: block;
    width: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 10px
}

.assistant-mobile__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-left: 0
}

.assistant-mobile__avatar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 78px;
    flex: 0 0 78px;
    text-align: center
}

.assistant-mobile__avatar img {
    border-radius: 35px;
    height: 40px;
    width: 40px
}

.assistant-mobile__text-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    padding-top: 2px;
    padding-bottom: 0;
    padding-right: 1rem
}

.assistant-mobile__text-container::-webkit-scrollbar {
    width: 10px
}

.assistant-mobile__text-container::-webkit-scrollbar-track {
    border-left: 8px solid transparent;
    -webkit-box-shadow: inset 0 0 10px 10px #eae9f1;
    box-shadow: inset 0 0 10px 10px #eae9f1
}

.assistant-mobile__text-container::-webkit-scrollbar-thumb {
    border-left: 8px solid transparent;
    -webkit-box-shadow: inset 0 0 10px 10px var(--color);
    box-shadow: inset 0 0 10px 10px var(--color);
    -webkit-box-shadow: inset 0 0 10px 10px #707070;
    box-shadow: inset 0 0 10px 10px #707070
}

.assistant-mobile__text-html {
    color: #2e2e54;
    margin-top: 4px;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 20px;
    display: inline-block;
    width: 100%
}

.assistant-mobile__block {
    position: relative;
    color: #69748c;
    line-height: 1.2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-transition: max-height .3s ease;
    transition: max-height .3s ease;
    min-height: 50px;
    max-height: 68px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 0;
    padding: 10px;
    border-radius: 20px 20px 20px 3px;
    background: #f0f0f0;
    cursor: pointer;
    overflow: auto
}

.assistant-mobile__title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #2e2e54;
    line-height: 1.125;
    word-break: break-word;
    -ms-flex-item-align: self-start;
    align-self: self-start;
    white-space: pre
}

.assistant-mobile__subtitle {
    font-size: 12px;
    color: #69748c;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
    margin-left: 8px;
    margin-right: 35px;
    margin-bottom: -2px;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis
}

.assistant-mobile__status {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #11983f;
    margin-right: 7px;
    margin-bottom: 1px;
    margin-top: 5px;
    color: #69748c
}

.assistant-mobile.has-text {
    height: 100%;
    grid-template-rows: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

svg[data-v-6d74ce7d] {
    padding: 0;
    background: #fff;
    fill: var(--color);
    border: 4px solid #fff;
    border-radius: 50px;
    height: 30px;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .28);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .28)
}

.bonus {
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-main)));
    background: linear-gradient(var(--gradient-main));
    line-height: 1.2
}

.bonus,
.bonus__wrapper {
    position: relative;
    height: 100%;
    border-radius: 5px
}

.bonus__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 10% 10px;
    -webkit-box-shadow: 1.9px 6.7px 7px 0 var(--color-alpha2);
    box-shadow: 1.9px 6.7px 7px 0 var(--color-alpha2)
}

.bonus__layer {
    background: #000;
    opacity: .1;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out
}

.bonus__layer,
.bonus__lock {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.bonus__lock {
    height: 100%;
    width: 100%;
    z-index: 2;
    -webkit-transition: all 1s ease;
    transition: all 1s ease
}

.bonus__lock-icon {
    position: absolute;
    right: 0;
    top: 0;
    left: unset;
    z-index: 2;
    -webkit-transform: translate(40%, -40%);
    transform: translate(40%, -40%);
    height: 25px!important
}

.bonus__text {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    right: 9%;
    max-width: 66%;
    text-align: right
}

.bonus_locked {
    cursor: not-allowed
}

.bonus_locked .bonus__layer {
    opacity: .4
}

.bonuses {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 100%;
    grid-template-rows: var(--bonus-height) var(--bonus-height);
    width: 100%
}

@media (max-width:767px) {
    .bonuses_direction_row-mobile {
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: var(--bonus-height)
    }
}

.answer-variants {
    overflow-x: hidden;
    overflow-y: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%
}

.answer-variants::-webkit-scrollbar {
    width: 10px
}

.answer-variants::-webkit-scrollbar-track {
    border-left: 8px solid transparent;
    -webkit-box-shadow: inset 0 0 10px 10px #eae9f1;
    box-shadow: inset 0 0 10px 10px #eae9f1
}

.answer-variants::-webkit-scrollbar-thumb {
    border-left: 8px solid transparent;
    -webkit-box-shadow: inset 0 0 10px 10px var(--color);
    box-shadow: inset 0 0 10px 10px var(--color)
}

.answer-variants__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: distribute;
    align-content: space-around
}

.answer-variants__textVariant {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 49%;
    flex: 0 1 49%;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(217, 216, 230, .55);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    will-change: box-shadow;
    -webkit-transition: -webkit-box-shadow .15s ease-out;
    transition: -webkit-box-shadow .15s ease-out;
    transition: box-shadow .15s ease-out;
    transition: box-shadow .15s ease-out, -webkit-box-shadow .15s ease-out
}

.answer-variants__textVariant:focus,
.answer-variants__textVariant:hover {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1)
}

@media (max-width:767px) {
    .answer-variants__textVariant {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%
    }
}

.answer-variants__textVariant .control-label {
    padding-left: 1rem!important
}

.answer-variants__textVariant label {
    padding: .8rem 1rem;
    width: 100%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%
}

.answer-variants .check {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1.25rem;
    flex: 0 0 1.25rem
}

.question::-webkit-scrollbar {
    width: 10px
}

.question::-webkit-scrollbar-track {
    border-left: 8px solid transparent;
    -webkit-box-shadow: inset 0 0 10px 10px #eae9f1;
    box-shadow: inset 0 0 10px 10px #eae9f1
}

.question::-webkit-scrollbar-thumb {
    border-left: 8px solid transparent;
    -webkit-box-shadow: inset 0 0 10px 10px var(--color);
    box-shadow: inset 0 0 10px 10px var(--color)
}

.Arrows {
    width: 9px;
    height: 6px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px
}

.Arrows--simple {
    -webkit-animation-name: move-up;
    animation-name: move-up;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.Arrows .Arrows-parts {
    display: grid;
    grid-template-columns: 50% 50%
}

.Arrows .Arrow {
    height: 2px;
    background: #44bc75;
    width: 100%
}

.Arrows .Arrow--left {
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.Arrows .Arrow--right {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

@-webkit-keyframes move-up {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
    50% {
        -webkit-transform: translateY(60%);
        transform: translateY(60%)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes move-up {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
    50% {
        -webkit-transform: translateY(60%);
        transform: translateY(60%)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

.discount {
    padding: 20px .5rem 20px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    color: #2e2e54;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 10px 0 rgba(255, 221, 111, .36);
    box-shadow: 0 3px 10px 0 rgba(255, 221, 111, .36);
    background-color: #ffdd6f;
    border: 1px solid #fdcd32
}

@media (max-width:818px) {
    .discount {
        -webkit-box-shadow: 0 3px 6px 0 #f4cf5b;
        box-shadow: 0 3px 6px 0 #f4cf5b;
        padding: 17px .5rem 17px 15px
    }
}

.discount.is-unexpanded .discount__icon {
    margin-right: 100px;
    -webkit-transition: margin .3s ease;
    transition: margin .3s ease;
    -webkit-animation-name: slide-right-icon;
    animation-name: slide-right-icon;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    opacity: 1
}

.discount.is-unexpanded .discount__label-text {
    opacity: 0
}

.discount:not(.is-unexpanded) .discount__icon {
    -webkit-animation-name: slide-icon-left;
    animation-name: slide-icon-left;
    margin-right: 0;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    opacity: 0;
    width: 0
}

.discount__icon {
    font-size: 18px;
    -webkit-animation-name: slide-right-icon;
    animation-name: slide-right-icon;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    font-weight: 700;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 1
}

@media (max-width:818px) {
    .discount__icon {
        display: block
    }
}

@-webkit-keyframes slide-right-icon {
    0% {
        opacity: 0;
        width: 15px
    }
    to {
        opacity: 1;
        width: 0
    }
}

@keyframes slide-right-icon {
    0% {
        opacity: 0;
        width: 15px
    }
    to {
        opacity: 1;
        width: 0
    }
}

.discount__label {
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    margin-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width:818px) {
    .discount__label {
        font-size: 12px;
        font-weight: 400
    }
}

.discount__label-text {
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.discount__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap
}

@media (max-width:818px) {
    .discount__price {
        font-size: 14px
    }
}

.discount__value {
    position: relative
}

.discount__symbol {
    margin-left: 5px;
    margin-bottom: 2px;
    font-weight: 400
}

.discount__arrows {
    position: relative;
    top: -15px;
    left: 2px
}

@media (max-width:819px) {
    .discount__arrows {
        top: -10px!important
    }
}

.discount__arrows.is-unexpanded {
    position: absolute!important;
    top: 4px!important;
    left: 28px;
    right: auto
}

@-webkit-keyframes fade-hide-button-data-v-da615d68 {
    0% {
        opacity: 0
    }
    30% {
        opacity: 0
    }
    to {
        opacity: .53
    }
}

@keyframes fade-hide-button-data-v-da615d68 {
    0% {
        opacity: 0
    }
    30% {
        opacity: 0
    }
    to {
        opacity: .53
    }
}

.sidebar-mobile[data-v-da615d68] {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    right: 0;
    top: 50%;
    width: 41px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.sidebar-mobile__discount[data-v-da615d68] {
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.sidebar-mobile__discount[data-v-da615d68]:not(.is-expanded) {
    margin-left: calc(100% - 41px)
}

.sidebar-mobile__discount:not(.is-expanded) .sidebar-mobile__discount-close[data-v-da615d68] {
    display: none
}

.sidebar-mobile__discount-component[data-v-da615d68] {
    height: 35px;
    padding-left: 12px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.sidebar-mobile__discount-close[data-v-da615d68] {
    position: absolute;
    left: -30px;
    top: 5px;
    -webkit-animation-name: fade-hide-button-data-v-da615d68;
    animation-name: fade-hide-button-data-v-da615d68;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    opacity: .53
}

.sidebar-mobile__bonuses[data-v-da615d68] {
    margin-top: 12px;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.sidebar-mobile__bonuses[data-v-da615d68]:not(.is-expanded) {
    margin-left: calc(100% - 41px)
}

.sidebar-mobile__bonuses:not(.is-expanded) .sidebar-mobile__bonuses-close[data-v-da615d68] {
    display: none
}

.sidebar-mobile__bonuses-close[data-v-da615d68] {
    position: absolute;
    left: -30px;
    top: 5px;
    -webkit-animation-name: fade-hide-button-data-v-da615d68;
    animation-name: fade-hide-button-data-v-da615d68;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    opacity: .53
}

.sidebar-mobile__bonuses-title[data-v-da615d68] {
    height: 35px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10px;
    font-size: 12px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px 0 0 3px;
    background: var(--color);
    -webkit-box-shadow: 0 3px 6px 0 var(--color);
    box-shadow: 0 3px 6px 0 var(--color)
}

.sidebar-mobile__bonuses-icon[data-v-da615d68] {
    margin-right: 20px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-animation-name: slide-icon-left-data-v-da615d68;
    animation-name: slide-icon-left-data-v-da615d68
}

@-webkit-keyframes slide-icon-left-data-v-da615d68 {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        margin-right: 20px
    }
    to {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
        opacity: 0;
        margin-right: 0;
        width: 0
    }
}

@keyframes slide-icon-left-data-v-da615d68 {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        margin-right: 20px
    }
    to {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
        opacity: 0;
        margin-right: 0;
        width: 0
    }
}

.sidebar-mobile__bonuses-text[data-v-da615d68] {
    -webkit-animation-name: fade-hide-button-data-v-da615d68;
    animation-name: fade-hide-button-data-v-da615d68;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    white-space: nowrap
}

.progress-bar_mobile {
    display: block;
    margin-left: 10px;
    line-height: 1.2;
    padding-right: 10%;
    padding-top: 10px;
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%
}

@media (min-width:819px) {
    .progress-bar_mobile {
        display: none
    }
}

@media (max:767px) {
    .progress-bar_mobile {
        padding-right: 10%;
        display: none
    }
}

.progress-bar_mobile .progress-bar__label {
    color: #fff;
    margin-bottom: 0
}

.progress-bar__label {
    font-size: 12px;
    text-align: left;
    font-weight: 500;
    line-height: 1.2;
    color: #2e2e49;
    margin-bottom: 8px;
    height: 18px;
    position: relative
}

.progress-bar__label span {
    font-size: 14px;
    color: var(--color);
    font-weight: 700;
    margin-left: 10px
}

@media (max-width:818px) {
    .progress-bar__label span {
        color: #fff
    }
}

.progress-bar__field {
    height: 6px;
    position: relative;
    background: #dbdbdb;
    border-radius: 25px;
    -webkit-box-shadow: inset 0 -1px 1px hsla(0, 0%, 100%, .3);
    box-shadow: inset 0 -1px 1px hsla(0, 0%, 100%, .3)
}

.progress-bar__field span {
    display: block;
    height: 100%;
    border-radius: 20px;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--color-darken10)), to(var(--color-lighten10)));
    background-image: linear-gradient(90deg, var(--color-darken10), var(--color-lighten10));
    -webkit-box-shadow: inset 0 2px 9px hsla(0, 0%, 100%, .3), inset 0 -2px 6px rgba(0, 0, 0, .4), .6px 1.9px 7px 0 var(--color-alpha);
    box-shadow: inset 0 2px 9px hsla(0, 0%, 100%, .3), inset 0 -2px 6px rgba(0, 0, 0, .4), .6px 1.9px 7px 0 var(--color-alpha);
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.progress-bar__field span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(-45deg, hsla(0, 0%, 100%, .08) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, .08) 0, hsla(0, 0%, 100%, .08) 75%, transparent 0, transparent);
    z-index: 1;
    background-size: 20px 20px;
    -webkit-animation: move 1.5s linear infinite;
    animation: move 1.5s linear infinite;
    border-radius: 20px;
    overflow: hidden
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0
    }
    to {
        background-position: 20px 20px
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }
    to {
        background-position: 20px 20px
    }
}

.progress-bar__field-mark {
    bottom: 2px;
    right: 0
}

.progress-bar__field-mark:after {
    content: "";
    position: absolute;
    right: calc(5% - 2px);
    bottom: 4px;
    border: 3px solid transparent;
    border-top: 7px solid var(--color)
}

.progress-bar__field-label {
    position: absolute;
    font-size: 12px;
    right: calc(5% - 13px);
    bottom: 12px;
    font-weight: 700;
    color: var(--color)
}

svg[data-v-f63d6478] {
    width: 20px;
    height: 14px
}

svg.is-back[data-v-f63d6478] {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

@media (max-width:818px) {
    svg[data-v-f63d6478] {
        fill: #fff
    }
}

.quiz-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    border-top: 1px solid #f3f3f3;
    overflow: hidden;
    z-index: 10
}

@media (min-width:819px) {
    .quiz-buttons {
        padding: 30px 30px;
        padding-top: 21px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%
    }
}

@media (max-width:818px) {
    .quiz-buttons {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        padding: 6px 10px;
        z-index: 100
    }
}

.quiz-buttons__progress {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    margin-right: 40px;
    margin-bottom: 5px
}

@media (max-width:818px) {
    .quiz-buttons__progress {
        display: none
    }
}

.quiz-buttons__progress-mobile {
    margin-bottom: 10px
}

.quiz-buttons__arrow {
    margin-bottom: 1px
}

.quiz-buttons__arrow>* {
    vertical-align: middle
}

.quiz-buttons__next-icon {
    padding-left: 5px;
    margin-bottom: -4px
}

.quiz-buttons__button {
    font-size: 16px!important;
    height: 43px;
    z-index: 100;
    padding: 0 16px 0 22px;
    font-weight: 500;
    overflow: hidden;
    font-family: Gilroy, Helvetica, Arial, sans-serif!important
}

.quiz-buttons__button[disabled] {
    opacity: .7
}

@media (max-width:818px) {
    .quiz-buttons__button {
        padding-left: 20px;
        padding-right: 20px
    }
}

.quiz-buttons__button_prev {
    text-decoration: none!important;
    color: #4a505e!important;
    background-color: #fafafa!important;
    border: 1px solid #e5e5e5!important;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 10px;
    padding-left: 12px;
    will-change: box-shadow;
    -webkit-transition: -webkit-box-shadow .2s ease-out;
    transition: -webkit-box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out, -webkit-box-shadow .2s ease-out
}

.quiz-buttons__button_prev[disabled]:focus,
.quiz-buttons__button_prev[disabled]:hover {
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.quiz-buttons__button_prev:focus,
.quiz-buttons__button_prev:hover {
    border: 1px solid #e5e5e5!important;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1)!important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1)!important
}

@media (max-width:818px) {
    .quiz-buttons__button_prev {
        width: 50px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5)!important;
        border-color: transparent!important;
        color: #fff!important;
        padding-left: 0;
        padding-right: 0;
        min-width: 50px;
        margin-right: 5px
    }
    .quiz-buttons__button_prev_text {
        display: none
    }
    .quiz-buttons__button_prev:focus,
    .quiz-buttons__button_prev:hover {
        border-color: transparent!important
    }
}

.quiz-buttons__button_next-text {
    margin-top: -1px
}

.quiz-buttons__button_next {
    color: var(--color-text);
    background-color: var(--color)!important;
    -webkit-box-shadow: 0 3px 10px 0 var(--color-alpha);
    box-shadow: 0 3px 10px 0 var(--color-alpha);
    will-change: box-shadow;
    -webkit-transition: -webkit-box-shadow .2s ease-in;
    transition: -webkit-box-shadow .2s ease-in;
    transition: box-shadow .2s ease-in;
    transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in
}

.quiz-buttons__button_next[disabled],
.quiz-buttons__button_next[disabled]:focus,
.quiz-buttons__button_next[disabled]:hover {
    -webkit-box-shadow: 0 3px 10px 0 var(--color-alpha)!important;
    box-shadow: 0 3px 10px 0 var(--color-alpha)!important
}

.quiz-buttons__button_next:focus,
.quiz-buttons__button_next:hover {
    color: var(--color-text);
    background-color: var(--color)!important;
    -webkit-box-shadow: 0 3px 15px 0 var(--color-alpha)!important;
    box-shadow: 0 3px 15px 0 var(--color-alpha)!important
}

.quiz-buttons__button_next:focus {
    -webkit-box-shadow: 0 2px 8px 0 var(--color-alpha)!important;
    box-shadow: 0 2px 8px 0 var(--color-alpha)!important
}

@media (max-width:818px) {
    .quiz-buttons__button_next {
        border-radius: 4px;
        min-width: 115px
    }
}

.quiz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh
}

@media (max-width:767px) {
    .quiz {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%
    }
}

.quiz__question-title {
    font-size: 28px;
    text-align: left;
    margin: 12px 0 16px 0!important;
    line-height: 1.2;
    font-weight: 500
}

@media (max-width:818px) {
    .quiz__question-title {
        font-size: 22px
    }
}

.quiz__tags {
    margin-top: 5px
}

@media (min-width:819px) {
    .quiz__sidebar-mobile {
        display: none
    }
}

.quiz__bonuses {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    margin-bottom: 10px;
    -webkit-box-align: self-start!important;
    -ms-flex-align: self-start!important;
    align-items: self-start!important;
    padding: 1rem 1.2rem
}

@media (max-width:818px) {
    .quiz__bonuses {
        padding: 12px 0 12px 80px;
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%
    }
}

@media (max-width:350px) {
    .quiz__bonuses {
        padding-left: 10px
    }
}

.quiz__questions {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 4;
    -ms-flex: 4 1 69%;
    flex: 4 1 69%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    padding: 30px;
    padding-bottom: 95px;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden
}

@media (max-width:818px) {
    .quiz__questions {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 15px;
        padding-bottom: 60px;
        overflow-y: auto
    }
}

.quiz__sidebar {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 246px;
    flex: 1 1 246px;
    background: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (max-width:818px) {
    .quiz__sidebar {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        height: auto;
        display: none
    }
}

@media (min-width:819px) {
    .quiz__sidebar {
        height: 100vh
    }
}

@media (min-width:819px) {
    .quiz__sidebar-inner {
        display: none
    }
}

.quiz__title {
    font-size: 16px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    line-height: 1.2;
    color: #69748c;
    font-weight: 500;
    margin-bottom: 16px
}

.quiz__title-separator {
    background: #f3f3f3;
    margin: auto -30px
}

.quiz__title-icon {
    color: var(--color);
    margin-right: 10px
}

@media (max-width:767px) {
    .quiz__title-icon {
        display: none
    }
}

.quiz__buttons {
    padding: 0;
    padding-top: 1rem
}

@media (max-width:818px) {
    .quiz__buttons {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        padding: 6px 10px;
        background-color: rgba(0, 0, 0, .4);
        z-index: 100
    }
}

@media (min-width:819px) {
    .quiz__buttons {
        padding: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%
    }
}

.quiz__question {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    padding-top: 10px;
    height: 100%
}

@media (min-width:768px) {
    .quiz__question {
        overflow-y: auto
    }
}

@media (max-width:818px) {
    .quiz__question {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
}

@media (min-width:1119px) {
    .quiz__question {
        padding: 5px 0 0
    }
}

.quiz__discount {
    margin: 1rem 1.2rem 0;
    margin-bottom: 15px;
    height: 58px
}

@media (max-width:818px) {
    .quiz__discount {
        display: none!important
    }
}

.quiz__assistant {
    min-height: 0
}

:root {
    --gray: #e2e2e2
}

h2 {
    font-size: 1.5em
}

h3 {
    font-size: 1.17em
}

@media (min-width:1201px) {
    .layout {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        height: 100vh;
        background: #f8f8f8
    }
    .final-page,
    .quiz {
        margin: 0 auto;
        max-width: 1024px;
        background: #fff;
        border: 5px solid #e6e6e6;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: auto!important;
        min-height: 570px!important;
        -ms-flex-wrap: nowrap!important;
        flex-wrap: nowrap!important
    }
    .final-page,
    .quiz {
        width: 100vw
    }
    .quiz {
        max-height: 75vh
    }
    .quiz__questions,
    .quiz__sidebar {
        min-height: 0!important;
        height: auto!important
    }
    .quiz__questions {
        max-height: 90vh
    }
}
.final-page{
    display: none;
}
#towqw, #threeqw, #fourwqw, #fivewqw{
    display: none;
}